<header class="site-header" id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="site-branding">
                    <a href="/">
                        <!-- <img class="desktop-logo" style="width: 225px;" src="../webSite/images/icons/logo.png" alt="logo">
                        <img class="mobile-logo" src="../webSite/images/icons/mobile-logo.png" alt="mobile logo"> -->
                        <h4 class="pt-3">Logo</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 pr-0">
                <nav id="main-navigation" class="main-navigation">
                    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="menu-menu-1-container">
                        <ul class="menu nav-menu" id="primary-menu">
                            <li class="menu-item "><a href="/">Home</a></li>
                            <li class="menu-item"><a href="#about-us">Sobre</a></li>
                            <li class="menu-item"><a href="#gallery">Galeria</a></li>
                            <li class="menu-item"><a href="#services">Serviços</a></li>
                            <li class="menu-item"><a href="#price">Agendamento</a></li>
                            <li class="menu-item"><a href="#contact">Contato</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="mobile-call-icon">
                    <a href="tel:1234567890" title="CALL (123) 456-7890">
                        <img src="../webSite/images/icons/mobile-call.png" alt="mobile call">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>